---
import { Image } from "astro:assets";
import NavLink from "@/components/NavLink.astro";
import lenisLogo from "@/assets/lenis-logo.png";

interface Props {
  isRed?: boolean;
}

const { isRed } = Astro.props;
const linkColor = isRed ? "black" : "red";
---

<style>
  .header {
    top: 108px;
    left: 0;
    position: fixed;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: var(--red);
  }

  .header-logo {
    left: 80px;
    position: absolute;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .header--red .header-logo {
    color: var(--black);
  }

  .header--red .header-logo-image {
    filter: brightness(0);
    transition: filter 0.2s ease-in-out;
  }
</style>

<header class:list={["header", { "header--red": isRed }]}>
  <a class={"header-logo"} href="/">
    <Image src={lenisLogo} class="header-logo-image" alt="Lenis logo" />
  </a>
  <nav>
    <ul class="flex">
      <li class="flex">
        <NavLink color={linkColor} to="/about">About</NavLink>
      </li>
      <li class="flex">
        <NavLink color={linkColor} to="/reel">Reel</NavLink>
      </li>
      <li class="flex">
        <NavLink color={linkColor} to="/contact">Contact</NavLink>
      </li>
    </ul>
  </nav>

  <!--<nav class="flex items-center">
                  <button role="button" class="flex bg-emerald-500 md:hidden">Menu</button>
                  <ul
                    class="flex items-center justify-center flex-col inset-0 fixed w-full h-full bg-primary gap-x-20 md:relative md:flex-row"
                  >
                    <li class="flex">
                      <Link color={linkColor} class="nav-link" to="/about">About</Link>
                    </li>
                    <li class="flex">
                      <Link color={linkColor} class="nav-link" to="/reel">Reel</Link>
                    </li>
                    <li class="flex">
                      <Link color={linkColor} class="nav-link" to="/contact">Contact</Link>
                    </li>
                  </ul>
                </nav>-->
</header>
